body {
	overflow-x: hidden;
	overflow-y: hidden;
}

a:link, a:visited {
	text-decoration: none;
	color: #f6cd61;
}

a:hover, a:active {
	text-decoration: none;
	color: floralwhite;
}

.w-layout-grid {
	display: grid;
	position: absolute;
	top: 5%;
	width: 100vw;
	grid-template-columns: repeat(5, 1fr)
}

.body {
	background-color: #3da4ab;
	text-align: center;
	/* position: relative;
	height: 100vh; */
}

.logo {
	animation: 1s ease 1 slideInFromTop;
	grid-column: 3 / span 1;
}

.logo img {
	display: block;
	width: 100%;
	height: auto;
}

.navigation-button-wrap {
	position: relative;
	grid-column: 1 / span 1;
	left: -5%;
	right: -5%;
}

.navigation-button-wrap:hover .overlay {
	left: 0;
	width: 70%;
}

.link-block {
	width: 40px;
	height: 40px;
	padding-left: 10%;
}

.link-block img {
	display: block;
	height: 100%;
	width: auto;
}

.overlay {
	position: absolute;
	top: -50%;
	background-color: #f6cd61;
	overflow: hidden;
	width: 0;
	height: 150%;
	transition: .5s ease;
}

.text-banking {
	/*color: #FFF3DC;*/
	color: #3da4ab;
	font-size: 17px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	white-space: wrap;
}

.whiteBars {
	position: absolute;
	bottom: -15%;
	display: grid;
	width: 100vw;
  justify-content: space-around;
	grid-template-columns: repeat(15, 1fr);
	align-items: end;
	padding-left: 3%;
	padding-right: 3%;
}

.blackBars {
	position: absolute;
	bottom: 0px;
	display: grid;
	width: 100vw;
  justify-content: space-around;
	grid-template-columns: repeat(15, 1fr);
	align-items: end;
	padding-left: 5%;
	padding-right: 20%;
}

.black {
	display: block;
	width: 100%;
	transform: translateY(150%);
	animation: 1s ease 0s 1 slideInFromBottom;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

.white {
	display: block;
	width: 100%;
	transform: translateY(150%);
	animation: 1s ease 0s 1 slideInFromBottom;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
}

@media screen and (min-device-width: 601px) {
	#cB1 {grid-column: 1 / span 1;}
	#dB1 {grid-column: 2 / span 1;}
	#fB1 {grid-column: 4 / span 1;}
	#gB1 {grid-column: 5 / span 1;}
	#aB1 {grid-column: 6 / span 1;}
	#cB2 {grid-column: 8 / span 1;}
	#dB2 {grid-column: 9 / span 1;}
	#fB2 {grid-column: 11 / span 1;}
	#gB2 {grid-column: 12 / span 1;}
	#aB2 {grid-column: 13 / span 1;}
	#cW1 {grid-column: 1 / span 1;}
	#dW1 {grid-column: 2 / span 1;}
	#eW1 {grid-column: 3 / span 1;}
	#fW1 {grid-column: 4 / span 1;}
	#gW1 {grid-column: 5 / span 1;}
	#aW1 {grid-column: 6 / span 1;}
	#bW1 {grid-column: 7 / span 1;}
	#cW2 {grid-column: 8 / span 1;}
	#dW2 {grid-column: 9 / span 1;}
	#eW2 {grid-column: 10 / span 1;}
	#fW2 {grid-column: 11 / span 1;}
	#gW2 {grid-column: 12 / span 1;}
	#aW2 {grid-column: 13 / span 1;}
	#bW2 {grid-column: 14 / span 1;}
}

@keyframes slideInFromTop {
	0% {
		transform: translateY(-150%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes slideInFromBottom {
/*	from {
		transform: translate3d(0, 100%, 0);
		visibility: visible;
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}*/
	0% {
		transform: translateY(150%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes fadeInTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
